.change_pwd_sec {
    display: table;
    width: 25%;
    height: 100vh;
    margin: 0 auto;
}
.change_pwd_sec_inner {
    display: table-cell;
    vertical-align: middle; /*padding: 0 50px 0 50px;*/
}

.eyeicon {
    cursor: pointer;
}

.alertMessage {
    /*display: table; width: 100%;*/
    transition: all 0.5s ease;
}
.alert-success {
    /*display: table-cell;
    vertical-align: middle;*/
    padding: 10px 10px;
    color: #fff;
    width: 100%;
    background-color: #005181;
    border-radius: 0.25rem;
    /* transform: translate(-49%, 25%); */
    transform: translate(0%, 0%);
    transition: all 0.5s ease;
}

.change-password-bg {
    background: url(../../../../../../assets/img/login-bg.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.login-div {
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("../../../../../../assets/img/login-bg.png");
    background-size: 100% 100%;
    display: flex;
}

.login-inner-sec {
    padding: 0%;
    height: 75%;
    width: 70%;
    background: #bccfdf;
}

.login-inner-sec-left-part {
    background: url("../../../../../../assets/img/login-left-sec-img.png");
    background-size: 100% 100%;
}

input[type="text"] {
    margin: 1rem auto;
    width: -webkit-fill-available;
    padding: 10px 20px;
    /*border-color: #0000006b;
    border-radius: 5px;*/
}

input[type="password"] {
    margin: 1rem auto;
    width: -webkit-fill-available;
    padding: 10px 20px;
    /*border-color: #0000006b;
    border-radius: 5px;*/
}

.error {
    border-color: #ff0000 !important;
}

.btn.login-btn {
    margin: 1rem auto;
    padding: 8px 20px;
    color: #ffffffc2;
    background-color: #014da1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    width: -webkit-fill-available;
}

.btn.login-btn:disabled {
    color: #ffffff6b;
    background-color: #014da16b;
}

.forgot-password {
    color: #014da1;
    text-decoration: none;
}

.alertMessage {
    transition: all 0.5s ease;
    width: 100%;
    margin: 0 auto 5px;
}
.alert-success {
    padding: 10px 10px;
    color: #fff;
    width: 100%;
    background-color: #6790bd7d;
    border-radius: 0.25rem;
    transform: translate(0%, 0%);
    transition: all 0.5s ease;
}

.login_divBox {
    /*width: fit-content;
    margin: auto;*/
    width: 100%;
    margin: 0 auto;
    background: transparent;
}
.change_pw_divBox {
    padding: 25px 25px 25px;
    background: #fff;
    text-align: center;
}

.form-group {
    position: relative;
}

.form-group mat-icon {
    position: absolute;
    top: 13px;
    color: #000;
    left: 88%;
}

.form-group input {
    padding: 10px 50px 10px 20px;
}


.login_footer.change_pw_footer {
    position: inherit;
    bottom: inherit;
}

.form-control:focus {
    // border: 1px solid #927aed;
    border-color: #927aed !important;
}

.error, .form-control:focus.error {
    border-color: #ff0000 !important;
}

.error::placeholder {
    color: #ff0000 !important;
}



.change_pw_notes_sec {
    color: #555;
    text-align: left;
    margin-bottom: 20px;
}
.change_pw_notes_sec h3 {
    color: #9a9a9a;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.pw_notes_list {
    margin: 0px;
    padding: 0px;
}
.pw_notes_list li {
    width: 100%;
    color: #a0a0a0;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 5px;
    border: 0px;
}
.pw_notes_list li span:first-child {width: 5%; float: left;}
.pw_notes_list li span:last-child {width: 95%; float: left;}

.login_title {
    margin: 0px 0px 10px;
}