<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper bg-white cust_scrollbar common_control_1">
    <h4 class="text-bold text-gray w-100 h-100 mb-0 d-flex" style="
    align-items: center;
    justify-content: center;">
        {{labels?.no_records_to_display}}
    </h4>
</div> -->
<!-- /.content-wrapper -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper bg-white cust_scrollbar common_control_1">
    <!-- <h4 class="text-bold text-gray w-100 h-100 mb-0">
        {{labels?.no_records_to_display}}
    </h4> -->
    <h4 class="text-bold text-gray m-0">No Records to Display</h4>
</div>
<!-- /.content-wrapper -->